[Unit]
Description=AudoDeploy from Gitea: Sync-daemon component
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/
ExecStart=/usr/bin/autodeployd
RuntimeDirectory=autodeploy
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
