[Unit]
Description=AudoDeploy from Gitea: Standalone web-server component
After=network.target
Requires=network-online.target
Wants=autodeployd.service

[Service]
User=adwebd
Group=adwebd
WorkingDirectory=/
ExecStart=/usr/bin/autodeploy-webd -p 6942
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
