[Unit]
Description=AudoDeploy from Gitea: Standalone web-server component
After=network.service
Require=network.service

[Service]
User=autodeploywebd
Group=autodeploywebd
WorkingDirectory=/
ExecStart=/usr/bin/autodeploy-webd -p 5000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
