# Global settings
# ===============

# Where the daemon will be listening and where webhook will push notifications
socket = /run/sync-daemon.s

# Log level, info, debug, error, etc...
loglevel = debug

# Log location, stdout, file-path, or syslog
loglocation = stderr

# Address to send emails to -- if absent don't send
smtphost = localhost

# Section name is from "full_name" of webhook output for "repository"
[repo/fullname]
# Upstream URL to fetch from. Must be non-interactive, so set up deploy-keys
# or a .netrc or whatever other means that the daemon can fetch / clone autonomously
url = git@gitea.sdcc.bnl.gov:user/repo.git

# Local folder to clone upstream @url to
local = /usr/src/repo

# Secret used as HMAC signing-key from Gitea to validate the webhook
secret = ChAnG3Me!$

# default ref to check out, conflicts with bare=true
branch = master

# Make the local path a bare repo not a checked out one
# defaults to false, conflicts with branch setting
bare = false

# Optional script to run after a fetch and update of local repo, this gets
# given the local path as an argument
postscript = /usr/libexec/postsync.sh


# [other-repo] etc...
